html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;

}

#scene .base-layer, #scene .depth-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#scene {
    width: 100%; /* ניתן לשנות בהתאם לרוחב הרצוי */
    height: 100vh; /* ניתן לשנות בהתאם לגובה הרצוי */
    overflow: hidden; /* מונע גלילה נוספת מחוץ לאלמנט */
    position: relative; /* הגדרת האלמנט כיחסי לשימוש בפוזיציונינג בתוכו */
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute; /* מאפשר חפיפה של השכבות */
    top: 0;
    left: 0;
}

.layer img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* מבטיח שהתמונה מרוחה על כל האלמנט תוך שמירה על יחסי הגודל */
    object-position: center; /* ממרכזת את התמונה באלמנט */
}

.modal-body p {
    display: flex;
    justify-content: space-between;
}

#coins-container {
    max-height: 500px; 
    overflow-y: auto; 
    border: 1px solid #cccccc4e; 
    background-color: #f9f9f9; 
}

.card-body {
    width: 100%;
    justify-items: center;
}

.card:hover {
    transform: translateY(-10px);
}

#info-container img {
    background: none; /* מבטל רקע */
    display: block;
    margin: 0 auto; /* מרכז את התמונה */
    border: none; /* מבטל מסגרת */
    border-radius: 50%;
}

/* עיצוב השורת חיפוש והכפתורים */
.search-bar {
    display: flex;
    justify-content: space-between; /* מרווח בין האלמנטים לאורך השורה */
    align-items: center; /* מיישר את האלמנטים לאותו גובה */
    padding: 10px;
    background-color: #f8f9fa; /* רקע בהיר לשורת חיפוש */
    border-radius: 8px; /* גבולות מעוגלים */
}

#coin-search {
    flex-grow: 1; /* מאפשר לתיבת החיפוש לגדול ולהתאים לרוחב הזמין */
    margin-right: 10px; /* מרווח בין תיבת החיפוש לכפתורים */
    padding: 8px 16px;
    border: 2px solid #ced4da;
    border-radius: 8px;
}

/* עיצוב הכפתורים */
.btn-secondary, .btn-primary {
    /* padding: 6px 12px; */
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px; /* גבולות מעוגלים לכפתורים */
}

.btn-secondary {
    background-color: #37210cb5; /* צבע אפור לכפתור ביטול */
    height: 45px;
    font-size: 12px;
}

.btn-primary {
    background-color: #010100d3;
    height: 45px; 
    font-size: 12px;
}

.page-link {
color: black;
}

.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: rgb(81, 4, 4);
    border-color: rgba(50, 38, 38, 0.625);
} 

/* שינוי צבע כפתורים במעבר עכבר */
.btn-secondary:hover {
    background-color: #9a9572; 
} 

.btn-primary:hover {
    background-color: #27303bdc;
}

.form-check-input:checked {
    background-color: #0f830ffc;
    border-color: #1d8a07;
}
/* _______________________ */

canvas {
    margin: 0 auto;
    display: block;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#navbar {
    background-color: rgba(0, 0, 0, 0.896); 
    padding: 2px; 

}

#navbar .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.nav-link.active {
    font-weight: bold;
    color: #ffffff !important;
    background-color: #b394578c;
    border-radius: 5px;
    padding: 5px 10px;
}

.navbar-nav .nav-link {
    font-size: 16px; 
    color: #fff;
    font-weight: bold; 
}

.navbar-nav .nav-link:hover {
    color: #975d00; /* שינוי צבע בעת ריחוף */
} 


/* עיצוב המטבע */
.coin-icon {
    width: 55px; 
    height: 50px; 
    animation: spin 6s linear infinite; 
}

/* זמני - לחפש פיתרון אחר*/
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,215,0,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* צבע זהב לאייקון */
}



@keyframes spinOutward {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.coin-icon {
    animation: spinOutward 6s linear infinite;
}


/*  עיצוב החלונית למשחק*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    /* z-index: 1000; */
}

.modal-content {
    position: relative;
    width: 80%;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-content iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.card-body {
    width: 100%;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #41310a61;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #25210586;
}

/* Responsive styles */
@media (max-width: 768px) {

    .layer img {
        object-fit: none;
    }

    /* #scene {
        height: 30vh; 
    } */
    }