#scene {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
}

.layer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.modal-body p {
    display: flex;
    justify-content: space-between;
}

#coins-container {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #cccccc4e;
    background-color: #f9f9f9;
}

.card-body {
    width: 100%;
    justify-items: center;
}

.card:hover {
    transform: translateY(-10px);
}

/* STYLING THE SEARCH BAR AND BUTTONS */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: auto; 
    width: 100%; 
    background-color: #f8f9fa;
    position: sticky;
    top: 56px; 
    z-index: 1020;
}

.form-control:focus {
    box-shadow: 0 0 0 .25rem rgba(197, 140, 9, 0.125);
}

#coin-search {
    width: 80%;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
}
/* test */

.btn-secondary,
.btn-primary {
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    height: 45px;
    font-size: 12px;
}

.btn-primary {
    background-color: #010100d3;
}

.btn-primary:hover {
    background-color: #080101c5;
}

.btn-secondary {
    background-color: #543314c9;
}

.btn-secondary:hover {
    background-color: #37210c9c;
}


.page-link {
    color: black;
}

.active>.page-link,
.page-link.active {
    background-color: rgb(81, 4, 4);
    border-color: rgba(50, 38, 38, 0.625);
    z-index: 1006;
}

.form-check-input:checked {
    background-color: #0f830ffc;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.896);
    padding: 2px;
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1030;
}

#navbar .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link.active {
    font-weight: bold;
    color: #ffffff !important;
    background-color: #b394578c;
    border-radius: 5px;
    padding: 5px 10px;
}

.navbar-nav .nav-link {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #975d00;
}


/*  SPIN COIN FOR NAVBAR */
.coin-icon {
    width: 55px;
    height: 50px;
    animation: spinOutward 6s linear infinite;
}

@keyframes spinOutward {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

/* FOR MOBILE */
.navbar-toggler-icon {
    filter: hue-rotate(180deg) brightness(500%);
}

/* STYLING THE GAME WINDOW */
.modal {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.modal-content {
    max-width: 600px;
    padding: 20px;
}

.modal-content iframe {
    height: 400px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


 /* SCROLLER PAGE */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #41310a61;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #25210586;
}

/* STYLE FOR ABOUT PAGE */
#about-page {
    background-color: #121212;
    color: #cac3b0;
}

#about-page header {
    text-align: center;
    background: linear-gradient(135deg, #1f1f1f, #282828);
}

#about-page .section {
    padding: 60px 20px;
    text-align: center;
}


#about-page .team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 30px;
}

#about-page .cta button {
    background-color: #ed811536;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

#about-page .cta button:hover {
    background-color: #edb0156a;
}

#about-page .cta {
    text-align: center;
}


::-webkit-scrollbar-thumb {
    background: #8882739c;
    border-radius: 10px;
    
}

/* FILL USER DETAILS */
.consultation-modal .modal-content {
    position: relative;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    text-align: left;
}

/* GENERAL STYLING FOR BUTTONS */
.consultation-modal .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.consultation-modal .modal-actions button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.consultation-modal .modal-actions button[type="cancel"] {
    background-color: #32281c;
    color: white;
    flex: 1;
}

.consultation-modal .modal-actions button[type="submit"] {
    background-color: #32281c;
    color: white;
    flex: 1;
}

.consultation-modal .modal-actions button[type="submit"]:hover {
    background-color: #32281cdc;
}

.close-modal {
    background-color: #d1cdcd83; 
    color: #333; 
}

.close-modal:hover {
    background-color: #e8e8e8b8; 
}

/* GENERAL STYLING FOR FORM FIELDS */
.consultation-modal .form-group {
    margin-bottom: 20px;
    position: relative;
}

.consultation-modal .form-group label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
}

.consultation-modal .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s;
}